﻿@model ReservationViewModel
@{
    ViewData["Title"] = "Add";
}

<h2>Dodaj nową rezerwację</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Reservation.Email">Email</label>
        <input asp-for="Reservation.Email" type="text" class="form-control">
        <span asp-validation-for="Reservation.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Reservation.PhoneNumber">Telefon</label>
        <input asp-for="Reservation.PhoneNumber" type="text" class="form-control">
        <span asp-validation-for="Reservation.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Reservation.Date">Rok</label>
        <input asp-for="Reservation.Date" type="number" class="form-control" typeof="date">
        <span asp-validation-for="Reservation.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Reservation.RoomId">Room</label>
        <select asp-for="Reservation.RoomId" class="form-control" asp-items="Model.Rooms"></select>
        <span asp-validation-for="Reservation.RoomId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary float-right">Zapisz</button>
</form>