﻿@model IEnumerable<ReservationList>

@{
    ViewData["Title"] = "Rezerwacje";
}

    <h2>Rezerwacje</h2>

    @if (Model.Any())
    {
        <div>
            <table class="table">
                <thead class="tab-pane">
                    <tr>
                        <th>Email</th>
                        <th>Numer telefonu</th>
                        <th>Pokój</th>
                        <th>Data</th>
                        <th>
                            <a class="btn btn-outline-success float-right" asp-action="Add">Dodaj rezerwacje</a>
                        </th>
                    </tr>
                </thead>
                <tbody class="tab-content">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.Room
                            </td>
                            <td>
                                @item.Date
                            </td>
                        <td>
                            <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-link text-danger float-right">Usuń</button>
                            </form>
                        </td>
                        </tr>
                    }
            </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Brak filmów</p>
    }